body {
  color: #222;
  background-color:lightblue; 
  padding-top: 60px;
}

.table {
  background-color: #eee;
  table-layout: fixed;
}

.table th, .table td {
  word-wrap: break-word;
}

.table > tbody > tr.minerva-active > td {
  background-color: #aaa !important;
}
.table-hover > tbody > tr.minerva-active:hover > td {
  background-color: #ccc !important;
}

.table > tbody > tr.minerva-success > td {
  background-color: #0b0;
}
.table-hover > tbody > tr.minerva-success:hover > td {
  background-color: #0d0;
}

.table > tbody > tr.minerva-warning > td {
  background-color: #cc0;
}
.table-hover > tbody > tr.minerva-warning:hover > td {
  background-color: #ee0;
}

.table > tbody > tr.minerva-alert > td {
  background-color: #ffa500;
}
.table-hover > tbody > tr.minerva-alert:hover > td {
  background-color: #ffa500;
}

.table > tbody > tr.minerva-danger > td {
  color: #eee;
  background-color: #b00;
}
.table-hover > tbody > tr.minerva-danger:hover > td {
  color: #eee;
  background-color: #d00;
}

.minerva-container {
  width: 100%;
}

#search {
  margin-bottom: 12px;
}

#search .row {
  padding: 4px 0;
}

#event_header {
  margin-bottom: 0;
}

#HdrDiv {
  background-color: #eee;
  padding-right: 17px;
}

#TblDiv {
  background-color: #aaa;
  height: auto;
  overflow-y: scroll;
  margin-bottom: 12px;
}

#NfDiv {
  text-align: right;
}
