body {
  color: #222;
  background-color:lightblue; 
  padding-top: 60px;
}

.table {
  background-color: #eee;
  table-layout: fixed;
}

.table > tbody > tr.minerva-alert > td {
  background-color: #f2edde;
}

.table-hover > tbody > tr.minerva-alert:hover > td {
  background-color: #ebe4cc;
}

.minerva-break-word, .table th, .table td {
  word-wrap: break-word;
}

.minerva-container {
  width: 100%;
}

.tab-content {
  background-color: #fff;
}

.tab-pane {
  padding: 12px;
}

#event_header {
  margin-bottom: 0;
}

#HdrDiv {
  background-color: #eee;
  padding-right: 17px;
}

#TblDiv {
  height: 640px;
  overflow-y: scroll;
  margin-bottom: 12px;
}
